
   
<md-content  class="md-padding">
    
  
<md-fab-speed-dial md-open="true" md-direction="right" ng-class="md-fling">
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="lib/t.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>

<md-button ng-click="toggleSidenav()" aria-label="undo" class="md-fab md-raised" ng-controller="AppCtrl">
            <i class="material-icons md-18">home</i>
          
          </md-button>

          <input placeholder="search"></input>
          <md-button aria-label="undo" class="md-fab md-raised md-mini">

            <md-icon md-svg-src="lib/t.svg" aria-label="Twitter"></md-icon>
          </md-button>
 <md-button ng-click="toggleSidenav()" aria-label="Facebook" class="md-fab md-raised md-mini"><i class="material-icons md-18">undo</i></md-button>
 <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><i class="material-icons md-18">redo</i></md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><i class="material-icons md-18">create</i></md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><i class="material-icons md-18">search</i></md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><i class="material-icons md-18">save</i></md-button>
          <md-button ng-click="showAlert($event)" aria-label="print" class="md-fab md-raised md-mini"><i class="material-icons md-18">print</i></md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><i class="material-icons md-18">delete</i></md-button>
</md-fab-actions>
      </md-fab-speed-dial>
   
</md-content>

