
<!DOCTYPE html>

<html>
<head>
<title>m_product</title>
<link rel="stylesheet" href="lib/angular-material.css">
<script src="lib/angular.min.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-aria.min.js"></script>
<script src="lib/angular-material.min.js"></script>
<link rel="stylesheet" href="lib/icon.css">
<link rel="stylesheet" href="lib/angular-material.min.css">
<script src="lib/angular-ui-router.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-material-icons.min.js"></script>

<script type="text/ng-template" id="/m_product.tpl"> 
      <h2>Product</h2>
</script>
</head>

<script>



angular.module('demoApp', ['ngMaterial','ui.router','ngResource'])
.config(function($stateProvider,$urlRouterProvider){
    $stateProvider
    .state('template',{url:"view1",templateUrl:'/m_product.tpl'})
    .state('view2',{templateUrl:'m_product.tpl',controller: function($scope,$http,$stateParams)
          {$scope.title=$stateParams;

             $http.get("../sql/select *  from m_product limit 100")
            .then(function(response){ $scope.related = response.data; });
            
          }
    }) 
    .state('custumer',{templateUrl:'client.html',controller: function($scope,$http)
          {$scope.title='Custumer';
            $http.get("database/custumer.json")
            .then(function(response){ $scope.related = response.data; });
          }
  
        
    })   
    })
.controller('AppCtrl',
function($scope,$mdSidenav,$http){
    
     $scope.toggleSidenav = function () {
    console.log('toggleSidenav');
    $mdSidenav('nav').toggle();
  };
 
      $http.get("../m_product_category")
            .then(function(response){ $scope.related = response.data; });
          


   })


;

</script
  



<body>

<div ng-app="demoApp">

<div ng-controller="AppCtrl">
    <div ng-app="app" ng-controller="AppCtrl" layout-fill flex layout="column">
  <md-toolbar class="fixed">
    <div class="md-toolbar-tools">
      <span>Full Height Test</span>
      <span flex></span>
      <md-button ng-click="toggleSidenav()">Toggle Sidenav</md-button>
    </div>
  </md-toolbar>
  <div layout="row" layout-fill flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="nav">
     <md-subheader>  Autocomplete Enteprise Resource Planing</md-subheader>
      <md-content>
        <md-button ng-click="toggleSidenav()">Hide Sidenav</md-button>
<!--  content menu -->                    
                <div ng-repeat="item in related">
            <md-menu-item>
             <md-button  ui-sref="view2({id:felino})">
                  <md-icon md-svg-src="lib/{{item.action}}.svg"   class="s24" aria-label="Cake"></md-icon>
    
                  {{item.name}}<small>{{item.cn}}</small>
            </md-button>
    
            <md-button ng-if="item.action===''" ui-sref="{{item.url}}/{{item.name}}" ng-click="toggleSidenav()" >
                    
    
                  {{item.name}}
            </md-button>
             <h3 ng-if="item.type==='toogle'" ui-sref="template/:p">{{item.name}}</h3>    
             
            </md-menu-item>
        </div>

        <div>
          <md-menu-item>
               <md-button>bill of material</md-button>
          </md-menu-item>
           <md-menu-item>
               <md-button>kanban</md-button>
          </md-menu-item>


        </div>


      </md-content>
    </md-sidenav>
    <md-content>
      
      
<!-- content template -->       
       <div id="content" ui-view>loading</div>
       
    </md-content>
  </div>
</div>
</div>

</body>
</html>

