   <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="nav">
     <md-subheader>Enteprise Resource Planing</md-subheader>
      
        <md-button ng-click="toggleSidenav()">
                    <md-icon md-svg-src="lib/ic_clear_black_24px.svg"   class="s24" aria-label="Cake"></md-icon>

        Hide Sidenav</md-button>
          <md-menu-item>
          <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display">
  <span md-highlight-text="searchText">{{item.display}}</span>
</md-autocomplete>
        
          </md-menu-item>
<!--  content menu -->                    
          <div ng-repeat="item in related">
            <md-menu-item>
             <md-button  ui-sref="{{item.templateUrl}}">
                  <md-icon md-svg-src="lib/{{item.icon}}"   class="s24" aria-label="Cake"></md-icon>
                  <b>{{item.url}}</b>
            </md-button>
            </md-menu-item>
            <!-- submenu --> 
               <div ng-if="item.templateUrl.length>2">
                  
                  <div  class="md-accordion" ng-repeat="x in item.templateUrl">
                        <md-menu-item>

                       <md-button ui-sref="{{x.templateUrl}}">
                          <md-icon    class="s24" aria-label="Cake"></md-icon>
                  <md-icon md-svg-src="lib/{{x.icon}}"   class="s24" aria-label="Cake"></md-icon>
                
                       {{x.url}}</md-button>       
                       </md-menu-item>       
                  </div>
            
         </div> 
     </div>
    </md-sidenav>